.header {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav {
  width: 100%;
  background-color: black;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headerElement {
  text-decoration: none;
  color: white;
  border-bottom: 2px solid transparent;
  padding: 0 5px 0 5px;
}

.headerElement:not(.active):hover {
  border-bottom: 2px solid #a5a5a5;
}

.active {
  border-bottom: 2px solid #ffffff;
}

.pageTitle {
  margin-left: 30px;
  margin-bottom: 0;
  width: 200px;
  font-family: "Brush Script MT", "Brush Script Std", cursive;
  color: white;
  overflow: visible;
  white-space: nowrap;
  float: left;
}

.logRegWrapper {
  padding-left: 20;
  list-style-type: none;
}

.logRegWrapper li {
  text-align: center;
}

.logReg {
  color: black;
  text-decoration: none;
}

.logReg h4 {
  margin: 5px;
  padding: 5px;
  color: white;
}

.searchbar {
  padding: 0;
}

.welcomeText {
  margin: 5% 0;
  padding-bottom: 10px;
  font-family: "Times New Roman", Times, serif;
  text-decoration: underline;
  color: white;
}

.logoutButton {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: "Times New Roman", Times, serif;
  /*input has OS specific font-family*/
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .header {
    justify-content: space-between;
  }

  .nav {
    width: 100%;
    background-color: white;
    font-family: "Times New Roman", Times, serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .headerElement {
    text-decoration: none;
    color: black;
    border-bottom: 0;
    padding: 0 5px 0 5px;
  }

  .headerElement:not(.active):hover {
    border-bottom: 0;
  }

  .active {
    border-bottom: 0;
  }

  .logRegWrapper {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
  }

  .logReg h4 {
    color: black;
    text-decoration: none;
    float: left;
    margin-left: 0;
    padding-left: 0;
  }

  .dropdown {
    color: white;
    margin-right: 70px;
  }

  .text {
    font-family: "Times New Roman", Times, serif;
  }

  .pageTitle {
    width: 20%;
    font-family: "Brush Script MT", "Brush Script Std", cursive;
    color: white;
    overflow: visible;
    white-space: nowrap;
    float: left;
  }

  .welcomeText {
    margin: 5% 0;
    font-family: "Times New Roman", Times, serif;
    text-decoration: underline;
    color: black;
  }
  .logoutButton {
    background: none !important;
    border: none;
    padding: 0 !important;
    font-family: "Times New Roman", Times, serif;
    /*input has OS specific font-family*/
    color: black;
    cursor: pointer;
  }

  .logoutButton h4 {
    padding-top: 10px;
  }
}
