.header {
  width: 100%;
  background-color: black;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headerElement {
  text-decoration: none;
  color: white;

  border-bottom: 2px solid transparent;
}

.headerElement:not(.active):hover {
  border-bottom: 2px solid #a5a5a5;
}

.active {
  border-bottom: 2px solid #ffffff;
}

.pageTitle {
  margin: 0;
  font-family: "Brush Script MT", "Brush Script Std", cursive;
  color: white;
}

.welcomeText {
  text-decoration: none;
  color: white;
}

.logRegWrapper {
  list-style-type: none;
}

.logRegWrapper li {
  text-align: center;
}

.logReg {
  color: black;
  text-decoration: none;
}

.logReg h4 {
  margin: 5px;
  padding: 5px;
  color: white;
}

.searchbar {
  padding: 0;
}

.welcomeText {
  margin: 5% 0;
  text-decoration: underline;
}

.logoutButton {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: "Times New Roman", Times, serif;
  /*input has OS specific font-family*/
  color: white;
  cursor: pointer;
}
